<div id="section-subscribe" ng-controller="SubscribeCtrl as subscribeCtrl">


  <form data-name="generalForm">

    <div class="row top-buffer"></div>
    <div class="container" data-ng-show="formVisible">
      <div class="row">
        <h1>{{ ::pageTitle }}</h1>
        <div class="col-xs-12 border-bottom"></div>
      </div>

      <div data-input-field="{maxLength: 32, inputType: 'normal', id: 'first-name', label: 'First Name'}" data-ng-model="firstName"  class="extra-margin-top"></div>
      <div data-input-field="{maxLength: 32, inputType: 'normal', id: 'last-name', label: 'Last Name'}" data-ng-model="lastName" class="extra-margin-top"></div>
      <div data-input-field="{maxLength: 64, inputType: 'email', id: 'emailValue', label: 'E-mail'}" data-ng-model="emailValue" email-Exists="emailExists" class="extra-margin-top"></div>


      <div class="row">
        <button ng-disabled="!generalForm.$valid" class="col-xs-12 btn submit no-select" data-ng-click="signUp()">Submit Request</button>
      </div>

    </div>


  </form>

</div>